doctype html
html(lang="en")
  head
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")

  body
    div.clearfix
     div.wrapper 
       div.w3-card-4
         header.w3-container.w3-blue 
           h5.w3-center Trivial!
         div.w3-container.w3-margin  
           label.w3-margin Enter your name!
           input.w3-margin-bottom.w3-input(type=type, id='username' value='#{username}', name='username')
           label.w3-margin Enter your TEAM!
           input.w3-input(type="text", id='team', value='#{teamname}', name='teamname')
         div.w3-container.w3-center
           a.w3-margin(id="submit" onclick="sendName();").w3-button.w3-white.w3-border.w3-border-blue.w3-round-xlarge Enter the game!
         footer.w3-container.w3-blue.w3-center
           h5 Welcome to the party, pal!
   
  script.
   var sendName = function () {  
    var username = document.getElementById('username');
    var teamname = document.getElementById('team');
    var button = document.getElementById('submit');
    button.href = "/lobby?username=" + username.value + "&teamname=" + teamname.value;
   }
  